version: "3.9"

services:
  db:
    image: postgres:15
    container_name: autoteile_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: autoteile_db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: autoteile_web
    restart: unless-stopped
    ports:
      - "8081:8081"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: autoteile_db
    entrypoint: ["/alembic_migrate.sh"]

volumes:
  db_data:
